body {
	font-family: 'Montserrat', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background: url(../images/Background.jpg);

	header {
		font-family: 'Cinzel Decorative', cursive;
		background-color: #d77431;
		font-weight:bolder;
		font-size: 40px;
		color:black;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;
	}

.block {
	background-color: rgba(black, 0.8);
  margin-top: 50px;

}

.description {
	padding-top: 160px;
  padding-bottom:20px;
	padding-left: 40px;
  padding-right:40px;
}

.recipe {
	font-size: 14px;
	color:#464949;
}

	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		color: #d77431;
	}

	p {
		font-size: 16px;
		color: #d77431;
	}

	.level {
		padding-bottom: 5px;
	}

	hr {
		border-top: .5px solid;
		border-color: #464949;
	}

	.image {
		padding-top:20px;
		padding-bottom: 20px;
		padding-left: 20px;
		float:left;

	}

section {
	display: flex;
	margin: 50px;
	justify-content: center;
	color: #a2a2a2;
}

 article {
		flex:1 200px;
		background: rgba(black, 0.9);
		padding:15px;
		margin:10px;
		border-top-style: solid;
		border-color:  #d77431;
		border-top-width:5px;
	}

	h2 {
		font-weight: bolder;
	}

li {
	margin:10px;
}


}
